@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
}
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
   pointer-events: none;
   top:0;
   bottom: 1px;
  
    z-index: -1;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #000;
}
.contact .content p{
    font-weight: 300;
    color: #000;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #000;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    color: #000;
    font-size: 16px;
    flex-direction: column;
    font-weight: 400;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: blueviolet;
    font-weight: 600;
}
.contactform{
    width:40% ;
    padding: 40px;
    background:#fff;
    border-radius: 10px;

}
.contactform h2{
    font-size: 30px;
    color: #000;
    font-weight: 500;

}
.contactform .head img{
    
    position: absolute;
    right: 386px;
    margin-top: -42px;
    align-items: center;
    justify-content: center;
    
    
    
}
.contactform .inputox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    

}
.contactform .inputox input,
.contactform .inputox textarea{
    width: 100%;
    padding: 5px 0;
    font-size:16px ;
    margin:10px 0 ;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}
.contactform .inputox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size:16px ;
    margin:10px 0 ;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputox input:focus ~ span,
.contactform .inputox input:valid ~ span,
.contactform .inputox textarea:focus ~ span,
.contactform .inputox textarea:valid ~ span
{
    color:#e91e63;
    font-size:12px;
    transform:translateY(-20px);
}


.contactform .inputox input[type="submit"]{
    width: 100px;
    background:  blueviolet;
    border: none;
    border-radius: 15px;
    color: #fff;
}